{% extends 'base.html' %}
{% block title %}Blood Chain {% endblock %}

{% block content %}
<br><br>
<div class="container">
<div class="panel panel-default pan">
<div class="panel-body">
<div class="row">
			<div class="col-sm-10 col-md-10">
				  <h2>Blood Chain</h2>							
			</div>
			
		<div class="col-sm-8 col-md-8"> 
       <br>
<p>Blood chain refers to the receipients and donors of the different blood groups. In other words, we can say that a person can recieve blood from which different blood group categories or donate blood to which persons having different blood group. It is like a chain by which we can receive or donate blood. For example, 'A+' blood group can receive blood from 'O-', 'O+', 'A-' and 'A+'; but it can donate blood to 'A+' and 'A-' blood groups only.</p>
<ul>
	<li>'AB+' blood group is a universal receipient.</li>
	<li>'O-' blood group is a universal donor.</li>
	<li>By the following tabular format figure, we come to know who can receive blood from whom or who can donate to whom:</li>
</ul> <br><br>
<img src="/static/images/bloodchain.jpg" alt="table of blood groups" class="center-block" />
</div>
</div>
</div>
</div>
</div>


{% endblock %}



<!-- </body>
</html> -->