{% extends 'base.html' %}
{% block title %}Most needed blood {% endblock %}

{% block content %}
<br><br>
<div class="container">
<div class="panel panel-default pan">
<div class="panel-body">
<div class="row">
			<div class="col-sm-10 col-md-10">
				 <h2>What blood type is most needed?</h2>							
			</div>
			
		<div class="col-sm-8 col-md-8">
  		<br>
	  <p class="text-justify">All blood types are needed. Common blood types are needed because there are many patients with them. Less common blood types are needed because there are fewer donors to give them.</p>
	  <ul class="text-justify">
	  <li>People with O- blood are particularly in demand because they are the "universal donor." </li>
	  <li>It means that people of all blood types can receive O- blood safely, so it is used during life-threatening emergencies or when the matching blood type is in short supply.</li>
	  <li> AB types are universal recipients. This relationship is reversed for plasma products.</li>
	  <li>AB type plasma can be transfused to all patients, while O- types are the universal plasma recipients.</li><br> 
	  <p class="text-justify">Therefore, all types are really needed!</p>
</div>
</div>
</div>
</div>
</div>

{% endblock %}