{% extends 'base.html' %}
{% block title %}Privacy Policy {% endblock %}

{% block content %}
<br><br>
<div class="container">
<div class="panel panel-default pan">
<div class="panel-body">
<div class="row">
    <div class="col-sm-10 col-md-10">
        <h2>Privacy Policy</h2>               
    </div>
          
   <div class="col-sm-8 col-md-8"> 
    <br>
      <p>Online Blood Care provides helpline which functions with the sole aim to promote and spread awareness about blood donation and connects needy patients with blood donors.</p>
      <h4>Contacting Blood Donors</h4>
      <p>The users need to utilize the Donors name and Telephone number provided via SMS and contact the donor for blood donation.<br/>The details of the donors are given only to facilitate the users for contacting them when in need of blood in case of any emergency. <br/>Online Blood care is not responsible for unwillingness of the donors to donate blood.</p>

     <!--  <h2>Content</h2>
      
            Content provided through SMS.
            <ul>
            	<li>Is provided for information purposes only.</li>
            	 <li>Is not shared with third parties.</li>
            	  <li>The donor information available on the website is made available to us by the donors and its purely the donor's right to continue or to withdraw any information available at any point of time.</li>
                 <li>We are not responsible for any inaccuracy in the information available on the website.</li>
            <li>We are not responsible for any misuse of contact information given to users via SMS. If you feel that your contact details are being misused then contact us on renubala427@gmail.com .</li>
            </ul>
          </div>

          <h2>Mobile Number</h2>
      <p>Every search on Onlinebloodcare via SMS is mapped. We store the Mobile Numbers , Landline number of the people who search for donors through SMS using our website.</p> -->

      <h4>Onlinebloodcare Rights</h4>
      <p>Onlinebloodcare reserves the right to change, modify or discontinue any aspect of the Website, including any information or its contents or features.<br/>Onlinebloodcare reserves the right to collect, analyze and disseminate the patterns of usage of the Website by all its Users.</p>
      
	  <h4>Registration Form</h4>
	  <p>Our registration form requires users to give us contact information (like name, e-mail, phone/contact numbers and Blood group). Contact information from the registration forms is used to get in touch with the customer when necessary. This information will not be shared with third party organizations.</p>
      </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}