{% extends 'base.html' %}
{% block title %}Tips on donating {% endblock %}

{% block content %}
<br><br>
<div class="container">
<div class="panel panel-default pan">
<div class="panel-body">  
<div class="row">
	<div class="col-sm-12 col-md-12">
		   <h2>Tips on blood donating</h2>							
	</div>
								
<div class="col-sm-10 col-md-10">
	<h4>Eligibilities</h4>
</div>
	<div class="col-sm-8 col-md-8">

		<ul>
			<li>Any donor, who is healthy, fit and not suffering from any transmittable diseases can donate blood.</li>
			<li>Donor must be 18 -60 years age and having a minimum weight of 50Kg can donate blood.</li>
			<li>Donor&rsquo;s Hemoglobin level is 12.5% minimum.</li>
			<li>A donor can again donate blood after 3 months of your last donation of blood.</li>
			<li>Pulse rate must be between 50 to 100mm without any irregularities.</li>
			<li>BP Diastolic 50 to 100 mm Hg and Systolic 100 to 180 mm Hg.</li>
			<li>Body temperature should be normal and oral temperature should not exceed 37.5 degree Celsius.</li>
		</ul>
		</div>

	<div class="col-sm-10 col-md-10">
		<h4>Non-Eligibilities</h4>
	</div>
	 <div class="col-sm-8 col-md-8">
		<ul>
			<li>Donors should not suffer from Cardiac arrest, hypertension, kidney alignments, epilepsy or diabetics.</li>
			<li>Ladies with a bad miscarriage should avoid donating blood for the next 6 months.</li>
			<li>If donor already donated blood or have been treated for malaria within the last three months.</li>
			<li>If donor undergone any immunization within the past one month.</li>
			<li>If donor consumed alcohol within the last 24 hours.</li>
			<li>If you are HIV+.</li>
			<li>If donor had a dental work for next 24 hours and wait for one month if donor had a major dental procedure.</li>
		</ul>	
		</div>
	
<div class="col sm-10 col-md-10">
		<h4>Post Donation Care</h4>
	</div>	
	<div class="col sm-8 col-md-8">

  <ul>
	<li>
	Please have a good meal at least 3 hours before donating blood. 
	</li>
	<li>
	Please accept the snacks offered after the donation. It is recommended to have a good meal later. 
	</li>
	<li>Avoid going for a heavy body works such as gym, dancing, running etc at least for next one day.</li>
	<li>
	Please avoid smoking on the day before donating. One can smoke 3 hours after donation. 
	</li>
	<li>
	One is not eligible to donate blood if you have consumed alcohol 48 hours before donation. 
	</li>
	<li>Have some rest 5 to 20 minutes after donation. Do not drive after donation of blood.
	</li>
	<li>Have some snacks and juice with high sugar content which will help to rejuvenate the blood sugar back up.</li>
	<li>Do not consume Alcohol for 8 hours after donation of blood.</li>
</ul>
</div>

<div class="col-sm-10 col-md-10">
		<h4>How to Relieve</h4>
</div>
<div class="col-sm-8 col-md-8">

		<ul>
			<li>While you are being needled to take blood, relax to the maximum, have a deep breath.</li>
			<li>There will be little pain or no pain.</li>
			<li> Try to distract yourself from the process by having a chewing gum.</li>
			<li>Listen to some music or watch some entertaining TV program.</li>
		</ul>
</div>
<div class="col-sm-10 col-md-10">
 <h4>Misconception about Donating Blood</h4>
</div>
<div class="col-sm-8 col-md-8">

 <ul class="list">
	<li>
	 You will not feel drained or tired if you continue to drink fluids and have a good meal. 
	</li>
	<li>
	You can resume your normal activities after donating blood, though you are asked to refrain from exercise or heavy weight lifting for twelve hours after donation. 
	</li>
	<li>
	Donating blood will not leave you low of blood; in fact you will still have surplus blood after the donation. 
	</li>
	<li>
	While donating blood you will not feel any pain. 
	</li>
	<li>
	You will not faint or feel uncomfortable after donating blood. This is a common misconception. 
	</li>
	<li>
	You will not get AIDS if you donate blood.
	</li>
	<li>
	Patients are just like donors - most of them have common blood types. Because your blood type is common, the demand for that type is greater than for rare types. So, even if your blood type is common there is still a requirement. 
	</li>
</ul>
</div>
</div>
</div>
</div>
</div>

{% endblock %}