{% extends 'base.html' %}
{% block title %}Who needs blood {% endblock %}

{% block content %}
<br><br>

<div class="container">
<div class="panel panel-default pan">
<div class="panel-body">
<div class="row">
			<div class="col-sm-10 col-md-10">
				  <h2>Who needs blood?</h2>								
			</div>
			
		<div class="col-sm-8 col-md-8">                          
			<br>
		   <p>Under normal circumstances, every two seconds someone needs a blood transfusion. Blood transfusions are used for trauma victims - due to accidents and burns - heart surgery, organ transplants, women with complications during childbirth, newborns and premature babies, and patients receiving treatment for leukemia, cancer or other diseases, such as sickle cell disease and thalassemia.</p>
		   <ul>
		        <li>Every year our nation requires about 1 Crore units of blood, out of which only a meager 60 Lakh units of blood are available.</li>
                <li>The gift of blood is the gift of life. There is no substitute for human blood.</li>
                <li>Every two seconds someone needs blood.</li>                
                <li>The average red blood cell transfusion is approximately 3 pints.</li>
                <li>The blood type most often requested by hospitals is Type B.</li>
                <li>Sickle cell patients can require frequent blood transfusions throughout their lives.</li>
                <li>More than 1 million new people are diagnosed with cancer each year. Many of them will need blood, sometimes daily, during their chemotherapy treatment.</li>
                <li>A single car accident victim can require as many as 100 units of blood</li>
				        <li>Blood cannot be manufactured – it can only come from generous donors.</li>
                <li>Type O-negative blood (red cells) can be transfused to patients of all blood types. It is always in great demand and often in short supply.</li>
                <li>Type AB-positive plasma can be transfused to patients of all other blood types. AB plasma is also usually in short supply.</li>                
            </ul>
		  </div>
    </div>
	</div>
</div>
</div>

{% endblock %}